<div class="privacy_inner inner">
  <h2>プライバシーポリシー</h2>
  <h3>当サイトに掲載されている広告について</h3>
  <p>
  Googleアドセンス
  当サイトでは、第三者配信の広告サービス（<%= link_to "Googleアドセンス", "https://www.google.com/adsense/start/" %>）を利用しています。
  </p>
  <p>
  このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。
  </p>
  <p>
  またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<%= link_to "こちら", "https://policies.google.com/technologies/ads?gl=jp" %>をクリックしてください。
  </p>
  <h3>プライバリーポリシーの変更について</h3>
  <p>
  当サイトのプライバシーポリシーは、サイト運営上の環境の変化などに対応していくため、都度必要な変更を行います。
  </p>
  <p>
  改定を行った場合には、サイト上に掲示することでお知らせします。
  </p>
  <p>
  また、変更後のプライバシーポリシーについては、当サイトに掲載したときから効力が生じるものとします。
  </p>
  <h3>お問い合わせについて</h3>
  <p>
  本ポリシーに関するお問い合わせは、<%= link_to "こちら", "/support" %>のお問い合わせフォームよりお願いいたします。
  </p>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2284559402460554"
     crossorigin="anonymous"></script>
<!-- ディスプレイ広告(横長) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2284559402460554"
     data-ad-slot="5902443307"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

