/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
#273966 濃い青紫 メインカラー
#618eff 薄い青紫 アクセントカラー
#ff7361 オレンジ アクセントカラー


*/



 @import "reset";

 * {
   box-sizing: border-box;
   table-layout: fixed;
 }

 html {
   height: 100%;
 }

 body {
   margin: 0;
   line-height: 1.7;
   letter-spacing: 1px;
   height: 100%;
   background-color: #f9fbfe;
   font-weight: bold;
   font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
 }

a {
   color: #273966;
   text-decoration: none;
}

a:hover {
   color: #618eff;
}

 header {
   text-align: center;
   background-color: #273966;
 }

 .header_inner {
   padding: 6px
 }
 
 .header_logo img {
   padding-top: 5px;
   width: 100px;
 }

 .wrapper {
   min-height: 90vh;
 }

 .cont {
   padding: 4% 0;
   height: 450px;
   text-align: center;
   background-image: linear-gradient(135deg, #618eff 0%, #8156b3 100%);
 }

 .inner {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
 }

 .top_inner {
   color: #fff;
 }

 .top_inner h2 {
   margin-bottom: 30px;
   font-size: 1.3rem;
   text-shadow: 0 0px 20px rgba(0,0,0,0.6);
 }

 .form_area {
   font-size: 1.2rem;
   padding-bottom: 5px;
   
 }

 .form_area select {
   outline: none; 
   background-color: #fff;
   box-shadow: 0 2px 10px rgba(0,0,0,0.4);
 }

 #date {
   width: 300px;
   text-align: center;
   padding: 5px 15px;
 }

 #_date_1i, #_date_2i, #_date_3i {
   color: #273966;
   padding: 0.8% 2%;
   margin-left: 4px;
   border: 1px solid #e2e7f1;
   border-radius: 5px;
 }

 #city {
   text-align: center;
   padding: 0.8% 2%;
   margin-left: 4px;
   outline: none;
   color: #273966;
   border: 1px solid #e2e7f1;
   border-radius: 5px;
 }

 #city option {
   background-color: #fff;
 }

 .form_btn {
   margin-top: 40px;
   padding: 1%;
   width: 300px;
   font-size: 1rem;
   color: #fff;
   text-shadow: 0 2px 10px rgba(0,0,0,0.4);
   border: 2px solid #fff;
   border-radius: 5px;
   transition-property: background-color;
   transition: 0.2s linear;
 }

 .form_btn:hover {
   background-color: rgba(255,255,255,0.4);
 } 

 .result_box {
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 40px;
   padding: 3%;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
   background-color: #fff;
   color: #273966;
   text-align: center;
 }

 .date {
   font-size: 1.2rem;
 }

 .result_box h1 {
   font-size: 1.6rem;
   border-bottom: 4px solid #ff7361;
 }

 .result_box span {
   color:#618eff;
 }

 .mh_time {
   margin-top: 20px;
   font-size: 1.25rem;
 }

 .mh_text {
   margin-left: auto;
   margin-right: auto;
   padding: 2%;
   text-align: left;
   font-weight: normal;
 }

 footer {
   text-align: center;
   padding: 10px;
   border-top: 2px solid #e2e7f1;
   font-size: 0.8rem;
 }

 .footer_inner {
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
 }

 footer p {
   margin-right: 10px;
   color: #273966;
 }

 footer small {
   color: #273966;
 }

 .support_inner iframe {
   width: 640px;
 }

 .privacy_inner {
   width: 60%;
   color: #273966;
   font-weight: normal;
   margin-bottom: 20px;
 }

 .privacy_inner h2,
 .privacy_inner h3 {
   margin: 10px;
 }

 .privacy_inner p {
   margin-bottom: 10px;
 }

 .support_inner {
   text-align: center;
 }

 .top_link {
   margin-top: 10px;
   font-weight: normal;
 }

 @media (max-width: 1025px) {
   .privacy_inner a,
   .support_inner a {
    color: #618eff;
    text-decoration: none;
   }
 }

 @media (max-width: 599px) {
   .cont {
     height: 300px;
   }

   .inner h2 {
     margin-bottom: 20px;
     font-size: 0.9rem;
   }

   .form_btn {
     margin-top: 20px;
   }

   .result_box h1 {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 2px solid #ff7361;
   }

   .date {
     font-size: 1rem;
   }

   .mh_time {
    margin-top: 10px;
    font-size: 1rem;
   }

   .mh_text {
     font-size: 0.9rem;
   }

   .support_inner iframe {
    width: 80%;
    font-size: 0.8rem;
   }

   .privacy_inner {
    width: 80%;
  }

   .privacy_inner p {
     font-size: 0.8rem;
  }

  　footer a {
    font-size: 0.6rem;
  }
 }